<!doctype html>
<html>
	<head>
		<style>

	 	
	 		body{
	 			background-image: url("black-logo.JPG");
	 			background-size:cover;
	 			text-align: center;
	 			color: #4bbb8a;
	 		}
	 		button{
	 			background-color: #4bbb8a;
	 			font-size: 18px;
	 		}
	

 
		</style>
		
	</head>

	<script src="validate.js">



	</script>
	<body>

		
		
		
		<h1>Messages</h1>
		<form name=myForm2>

			<input type="text" placeholder="enter text here" name="myMessage">
    		<button onclick=" type="button">SEND</button>
    	</form>

    	<hr/>
    	<button onclick="funcLogout()" type="button">logout</button>
    	
    	

		
		
	</body>
</html>