<!doctype html>
<html>
	<head>
		<style>

	 	
	 		body{
	 			background-image: url("black-logo.JPG");
	 			background-size:cover;
	 			text-align: center;
	 			color: #4bbb8a;
	 		}
	 		button{
	 			background-color: #4bbb8a;
	 			font-size: 20px;
	 		}
	 		input {
  				width: 40%;
			}
						#mainHeading{
				color: white;
			}


 
	    </style>
	</head>

	<body>
		<h1 id="mainHeading" style="text-align:center">FORGOT PASSWORD</h1>
		<!--this is break line-->
		<hr/>
		<!--inserting an image using scr and if doesnt load it will write "Admin logo"-->
        
		<img src="logo.PNG" alt="Admin logo" >
		<!--this how we write paragraph using <p>-->
		<p>Below enter the registered Email</p>
		
		<form>
			<input type="text" placeholder="Email" name="AdminEmail">
		</form>
		<a href="Adminlogin.html">Back</a>
		<button type="button">Submit</button>

		
	</body>
</html>
